/* Dash */

.dash-main{

    padding-left: 60px;
    padding-top: 10px;
    /* background-color: #d3d3d3; */
    position: relative;
    width: 78vw;
    padding-bottom: 60px;
}

.qst-card-in{
    padding:18px;
    background-color: #2B2C3E;
    border-radius: 16px 16px 0 0;
    

}

.qst-ans{
    font-size: 12px;
    padding: 6px;
    margin-right: 5px;
}
.qst-card{
    padding: 20px;
    transition: transform .3s;
}
.qst-card:hover{
    transform: scale(1.2);
}

.vote-bar{
    display: flex;
    justify-content: space-between;
    background: #404251;
    height: 35px;
    border-radius: 0px 0px 16px 16px;
    padding:6px 20px;
}
.qst-name{
    display: flex;
    margin-top: 5px;
}
.person-icon{
    background: url("../assets/new-profile-vector-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height:35px;
    margin-right: 10px;
}

/* Explore */

.explore-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
    
}
.qst-card-in-exp{
    padding:14px 20px;
    background-color: #2B2C3E;
    border-radius: 16px;
}
.view-ans{
    font-size: 10px;
    padding: 0;
    color: gray;
}



/* Activities */

.activity-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
}


/* Mobile */
@media (max-width: 576px) {

    /* Dash */

.dash-main{

        padding-left: 50px;
        padding-top: 10px;
        /* background-color: #d3d3d3; */
        position: relative;
        width:90vw;
    }
    .qst-card-in{
        padding:25px 0 25px 35px;
    
    }
}