/* Dash */

.dash-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
}


/* Explore */

.explore-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
    
}


/* Activities */

.activity-main{

    color: #fff;
    text-align: center;
    font-size: 50px;
}