.index-main{
    background-color: #1E1D2B;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: #fff;
}
.ind-top { 
    grid-area: header;
    /* background-color: violet; */
    width: 80vw;
    padding:30px
    
 }
.ind-nav { 
    grid-area: menu;
    height: 100vh;
    width: 20vw;
    /* background-color: tomato; */
    border-radius: 0px 36px 36px 0px;
}
.ind-comp { 
    grid-area: main;
    /* background-color: red; */
    width: 80vw;
    z-index: 10;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main';
  grid-column-gap: 0;
  background-color: #1E1D2B;
  padding: 0;
}

/* Mobile n tab */

@media (max-width: 768px) {

    /* .grid-container {
        display: grid;
        grid-template-areas:
          'header header header header header header'
          'main main main main main main'
          'main main main main main main'
          'main main main main main main'
          'main main main main main main'
          'menu menu menu menu menu menu';
        grid-gap: 0;
        background-color: #1E1D2B;
        padding: 0;
      } */
      
      
      
}