
.profile-form {
    margin: 5px;
    padding: 5px;

    /* font-family: Mazzard; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #232e71;
    box-sizing: border-box;
    border-radius: 6.34px;
    transition: all 0.15s ease-in-out;
}

.profile-center {
    align-items: center;
    align-self: center;
    justify-content: center;
}

.profile-size {
    max-width: 50rem;
}

.profile-page-icon{
    background: url("../assets/new-profile-vector-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 85px;
    height:85px;
    float: right;
    position: relative;
    margin-right:16px;
    

}
.profile-img{
    background: url("../assets/new-profile-vector-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 85px;
    height:85px;
    border-radius: 100%;
}
img[src=""] {
    display: none;
}
.btn-style{
    background-color: #404251;
}
.prof-avat-main{
    position: relative;
}
.btn-posi{
    position: absolute;
    top:55px;
    right: 5px;
    width: 50px;
   

}
.edit-btn{
    background-color: #2B2C3E;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon-edit{
    color:#999;
    padding: 6px;
    background-color: #404251;
    border-radius: 100%;
    border: solid 3px #2B2C3E;
    
}
