.top-bar-main{

    background-color: #1E1D2B;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    padding:40px;
    position: fixed;
    top:0;
    left:21%;
    z-index: 20;

}
.search-main{
    position: relative;
    display: flex;
    background: #404251;
    width: 25vw;
    height: 38px;
    border-radius: 100px;
}
.search-main button{
    position: absolute;
    right: 10px;
    color: #999;
    background:none;
    border: none;
    height: 38px;
}
.search-input{
    width: 100%;
    background: none;
    
}
.search-input:focus {
    background: #505265;
    color: #fff;
    box-shadow: none;
    transition: all 0.15s ease-in-out;
    border-radius: 100px;
    margin-top: 0;
}
.top-profile{
    background: url("../assets/new-profile-vector-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height:50px;
    float: right;
    position: relative;
    margin-top:-5px


}
.prof-right{
    display: flex;
    
}
.prof-a{
    width: 40px;
    height:50px;
    position: absolute;
}
.drop{
    background-color:#404251 ;
}
.dr-link{
    color: rgb(228, 228, 228);
}
.dr-link:hover{
    background-color: #6d6e76;
    color: rgb(194, 194, 194);
}


@media (max-width: 576px) {
    .top-bar-main{
        left: 0;
        width: 100vw;
        padding: 15px 10px 20px;
        justify-content: center;
    }
    .search-main{
        width: 70vw;
        position: absolute;
        bottom: 10px;
        left: 15%;
    }
    .prof-right{
        margin-right: 0;
        display: flex;
        width: 100vw;
        justify-content: space-around;
        
    }
    .prof-right button{
        margin-bottom: 50px;
        margin-top: 5px;
        margin-left: -10%;

        
    }
    .search-main button{
        right: 10px;
        top: -37px;
    }
}